# Test JBSqlUtils

JBSqlUtils se ha sometido a Test que garanticen el correcto funcionamiento de los métodos
que pone a disposición de sus usuarios, para ello utiliza TestNG y ReportNG para la visualización
de los resultados.





