name: Changelog CI
on:
  workflow_dispatch:
  pull_request:
    types: [ opened ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
        with:
          egress-policy: audit
          #Obtenemos el repositorio
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      #Corremos el changelog
      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v1.1.2